.trackFormMetaInfo {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  padding: 16px 24px;
  background-color: var(--color-white);
  border: solid 1px var(--color-soft-gray);
  border-radius: 8px;

  > .left {
    display: flex;
    flex: 1;
    gap: 8px;
    align-items: center;
    min-width: 0;

    > .play {
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      color: var(--color-gray);

      > .loading {
        display: block;
        width: 32px;
        height: 32px;
        animation: track-form-meta-info-spin 0.8s linear infinite;
      }
    }
  }

  > .right {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

@keyframes track-form-meta-info-spin {
  to {
    transform: rotate(360deg);
  }
}
