.userInfoLabel {
  display: flex;
  align-items: center;
  gap: 6px;

  > .dot {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary-deep);
  }

  > .label {
    font-size: 11px;
    font-weight: 700;
    color: var(--color-gray);
    text-transform: uppercase;
  }
}
