.userInfoLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4px;

  > .logo {
    font-family: Gabarito, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-gray);
    text-box: trim-both cap alphabetic;
  }

  > .user {
    display: flex;
    gap: 6px;
    align-items: center;

    > .dot {
      flex-shrink: 0;
      width: 8px;
      height: 8px;
      background-color: var(--color-primary-50);
      border-radius: 50%;
    }

    > .label {
      font-size: 11px;
      font-weight: 700;
      color: var(--color-gray);
      text-transform: uppercase;
      text-box: trim-both cap alphabetic;
    }

    > .signout {
      display: inline-flex;
      width: 12px;
      height: 12px;
      color: var(--color-gray);
    }
  }
}
