.userInfoLabel {
  padding-inline: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .logo {
    font-family: Gabarito;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-gray);
    text-box: trim-both cap alphabetic;
  }

  > .user {
    gap: 6px;
    display: flex;
    align-items: center;

    > .dot {
      flex-shrink: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color-primary-50);
    }

    > .label {
      font-size: 11px;
      font-weight: 700;
      color: var(--color-gray);
      text-transform: uppercase;
      text-box: trim-both cap alphabetic;
    }
  }
}
