@import url("./variables.css");

html,
body {
  overflow: hidden;
  font-family: "IBM Plex Sans JP", sans-serif;
  color: var(--color-dark);
  word-break: break-all;
}

span {
  -webkit-font-smoothing: antialiased;
}
