:root {
  --color-white: #fff;
  --color-black-alpha-10: rgb(0 0 0 / 10%);
  --color-black-alpha-50: rgb(0 0 0 / 50%);
  --color-dark: #676767;
  --color-soft-dark: #828282;
  --color-gray: #b1b1b1;
  --color-soft-gray: #eee;
  --color-primary-10: #f5ffe4;
  --color-primary-20: #e3fd9f;
  --color-primary-30: #d2f78c;
  --color-primary-40: #c4ef6e;
  --color-primary-50: #bef242;
  --color-primary-60: #82c93a;
}
