.trackListItem {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 10px 36px 10px 12px;

  > .artwork {
    flex-shrink: 0;
    width: 84px;
    aspect-ratio: 1 / 1;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 3px 12px var(--color-black-alpha-10);

    > .image {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  > .right {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0;

    > .overview {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      min-width: 0;

      > .title {
        font-size: 18px;
        font-weight: 700;
        color: var(--color-dark);
      }

      > .details {
        display: flex;
        flex-direction: column;
        gap: 4px;

        > .detail {
          display: flex;
          gap: 6px;
          align-items: center;

          > .icon {
            display: inline-flex;
            width: 14px;
            height: 14px;
            color: var(--color-gray);
          }

          > .text {
            font-size: 12px;
            font-weight: 600;
            color: var(--color-gray);
          }
        }
      }
    }
  }
}

.maxOneLine {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
