.trackListItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  width: 100%;

  &:hover {
    > .right > .chevron {
      opacity: 1;
    }
  }

  > .artwork {
    width: 84px;
    aspect-ratio: 1 / 1;
    padding: 4px;
    border-radius: 4px;
    flex-shrink: 0;
    box-shadow: 2px 3px 12px var(--color-black-alpha-10);

    > .image {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  > .right {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    > .overview {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > .title {
        font-size: 18px;
        font-weight: 700;
        color: var(--color-dark);
      }

      > .details {
        display: flex;
        flex-direction: column;
        gap: 4px;

        > .detail {
          display: flex;
          align-items: center;
          gap: 6px;

          > .icon {
            width: 14px;
            height: 14px;
            color: var(--color-gray);
            display: inline-flex;
          }

          > .text {
            font-size: 12px;
            font-weight: 600;
            color: var(--color-gray);
          }
        }
      }
    }

    > .chevron {
      flex-shrink: 0;
      width: 12px;
      height: 24px;
      color: var(--color-gray);
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: opacity;
      transform: translateZ(0);
    }
  }
}

.maxOneLine {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
