.layoutContainer {
  display: flex;
  width: 100vw;
  height: 100vh;

  > .sidebar {
    flex: 3.5;
    max-width: 450px;
    height: 100%;

    > .upper {
      width: 100%;
      display: flex;
      gap: 8px;
      padding: 16px 20px;
      flex-direction: column;
    }

    > .divider {
      width: 100%;
      height: 1px;
      background-color: var(--color-soft-gray);
      border: 0;
    }
  }

  > .right {
    flex: 6.5;
    height: 100%;
    background-color: #c7fff6;

    > .artwork {
      aspect-ratio: 4 / 1;
      width: 100%;
      height: auto;
      background-color: #e4c2ff;
    }

    > .form {
    }
  }
}
